extends index

append js
  script(type="text/javascript", src="js/blog.js")

append css
  link(href='css/blog.css', rel='stylesheet')

block pageContent
  .container
    h2.blog-header 路途分享小博客
    hr
    .posts
    if posts
      each post in posts
        .post#id
          h3.post-title= post.title
          h5.post-info
            | 作者:
            span= post.author
            span= post.path
          .post-content
            h5 分享内容:
            .content!= post.content
          .post-meta
            a.post-favourite(post_id=post._id)
              i.fa.fa-thumbs-o-up&nbsp;被赞:
              span.favourite= post.meta.favourites
            a.post-comments(post_id=post._id)
              i.fa.fa-comment&nbsp;评论数:
              span.comments= post.comments.length
    .footer
      hr
      footer
        p © 2017 Zhongwq, Data Structure Project.
    #infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='infoModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              | ×
            h4#infoModalLabel.title
              | 评论详情
          .modal-body
            .post-comments
              h4 评论
              ul.comments
              form#addComment
                h4 添加评论
                .form-group
                  label(for="email") 邮箱
                  input.form-control(type="email", name="email", placeholder="请输入邮箱...")
                .form-group
                  label(for="content") 内容
                  textarea.form-control(type="text", name="content", placeholder="请输入内容...")
                button.btn.btn-primary 提交
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal')
              | 关闭
            button.btn.btn-success(type='button', data-dismiss='modal')
              | 确认
